<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xaut.dao.GameInfoDao">
    <resultMap id="BaseResultMap" type="com.xaut.entity.GameInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="uid" property="uid" jdbcType="VARCHAR"/>
        <result column="user_uid" property="userUid" jdbcType="VARCHAR"/>
        <result column="type_uid" property="type" jdbcType="VARCHAR"/>
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="place" property="place" jdbcType="VARCHAR"/>
        <result column="people_num" property="peopleNum" jdbcType="INTEGER"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="release_time" property="releaseTime" jdbcType="TIMESTAMP"/>
        <result column="deleted" property="deleted" jdbcType="BIT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from game_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.xaut.entity.GameInfo">
    insert into game_info (id, uid, user_uid, type, start_time,
      place, people_num, description, release_time,
      deleted, create_time,
      update_time)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR}, #{userUid,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},
     #{startTime,jdbcType=TIMESTAMP},   #{place,jdbcType=VARCHAR}, #{peopleNum,jdbcType=INTEGER},
     #{description,jdbcType=VARCHAR},  #{releaseTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.xaut.entity.GameInfo">
    update game_info
    set uid = #{uid,jdbcType=VARCHAR},
      user_uid = #{userUid,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      place = #{place,jdbcType=VARCHAR},
      people_num = #{peopleNum,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      release_time = #{releaseTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select id, uid, user_uid, type, start_time,
      place, people_num, description, release_time,
      deleted, create_time,
      update_time
    from game_info
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, uid, user_uid, type, start_time,
      place, people_num, description, release_time,
      deleted, create_time,
      update_time
    from game_info
  </select>
</mapper>