<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xaut.dao.PostInfoDao" >
  <resultMap id="BaseResultMap" type="com.xaut.entity.PostInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_uid" property="userUid" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="deleted" property="deleted" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from post_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xaut.entity.PostInfo" >
    insert into post_info (id, user_uid, title, 
      num, deleted, create_time, 
      update_time, content)
    values (#{id,jdbcType=INTEGER}, #{userUid,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{num,jdbcType=INTEGER}, #{deleted,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.xaut.entity.PostInfo" >
    update post_info
    set user_uid = #{userUid,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      deleted = #{deleted,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, user_uid, title, num, deleted, create_time, update_time, content
    from post_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, user_uid, title, num, deleted, create_time, update_time, content
    from post_info WHERE deleted = FALSE
  </select>
  <select id="selectByUserUid" resultMap="BaseResultMap" parameterType="java.lang.String">
    select id, user_uid, title, num, deleted, create_time, update_time, content
    from post_info WHERE user_uid = #{userUid,jdbcType = VARCHAR} and deleted = FALSE
  </select>
</mapper>